
img {
  width: 300px;
  height: 225px;

}

.wrapper {
  margin: 10px;

}

.page-container {
  margin-top: 30px;
}


.games {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.games-dropdown {
  display: inline-block;
  position: relative;

}
