
img {
  width: 330px;
  height: 225px;
  border-radius: 2%;
  object-fit: cover;
  transition: transform 500ms;
}

.game-image:hover{
  transform: scale(1.1);
}

.wrapper {
  margin: 10px;

}

.page-container {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.games {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.games-dropdown {
  display: inline-block;
  position: relative;
}

.drop-down {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

select {
  border: 2px solid rgb(53, 50, 50);
  border-radius: 3%;
  background-color: rgb(27, 25, 25);
  width: 250px;
}
