body{
  width: 100%;
  height: 100%;
  font-weight: 700;
  font-style: normal;
}

.game-detail{
  margin: 0;
  display: flex;
  padding: 10px;
  /* border: 2px solid blue; */
  color: rgb(190, 190, 190);
  text-align: justify;
  height: 100vh;
}


.right-column{
  padding: 10px 50px 0px 0px;
  /* border: 2px solid red; */
  width: 60%;
}

.left-column{
  padding: 10px;
  /* border: 2px solid green; */
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image-container{
  width: 230px;
  /* border: 1px solid brown; */
  overflow: hidden;
  height: 340px;
  border: 1px solid rgb(53, 50, 50);
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 15px 0px #000000; 
  box-shadow: 0px 5px 15px 0px #000000;
}

.image-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: transform 550ms;
}


.title{
  font-size: 32px;
  color: whitesmoke;
  font-family: plantin,sans-serif;
  font-weight: 700;
  font-style: bolder;
}

.description{
  font-family: quicksand, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 16px;
}

.banner-image{
  justify-content: center;
  box-shadow: inset 0 0 10px 10px black;
  height: 430px;
  position: relative;
  overflow: hidden;

}

.banner-image > img {
  display: block;
}

.banner-image::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 120px 45px rgba(0, 0, 0, 1);
}

#banner-image{
  width: 100%;
  /* object-fit: cover; */
  height: 100%;
  object-fit: cover;
  object-position: top;
}


.display-info{
  font-family: quicksand, sans-serif;
  margin: 0 !important;
}

.container-2{
  display: inline-block;
  justify-content: center;
  /* border: 2px solid pink; */
  box-shadow: inset 0 0 10px 10px black;
  position: relative;
  width: 100%;
}

.container-2::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  /* height: 200%; */
  box-shadow: inset 0 0 500px rgba(0, 0, 0, 1);

}

.header{
  display: flex;
  align-items: center;
  font-size: 17px;
  justify-content: space-between;
}

.details{
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
  width: 228px;
}

.collection-buttons {
  /* right: 0;
  position: absolute; */
}

.collection-buttons img{
  display: flex;
  height: 20px;
  width: 30px;
  filter: invert(1);
}

.collection-buttons button{
  background: rgb(53, 50, 50);
  border: 1px solid rgb(155, 155, 155);
  margin: 0 5px 0 5px;
  box-shadow: 0px 5px 15px 0px #000000;
  border-radius: 5px;

}

.review-header {
  font-size: 26px;
  color: whitesmoke;
  font-family: plantin,sans-serif;
  font-weight: 700;
  font-style: bolder;
  margin-top: 125px;
}

