
.gameCard{
  width: 330px;
  height: 200px;
  /* transition: transform 600ms; */
  width: 97%;
  border: 1px solid rgb(53, 50, 50);
  overflow: hidden;
  border-radius: 5px;
  object-fit: cover;
  text-align: center;

}

.gameCard img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition:transform 800ms;
  position: relative;
}

.gameCard img:hover{
  transform: scale(1.2);
}

.image-container{
  width: 330px;
  height: 200px;
}

.gameCard p {
  top: 40%;
  margin: 0;
  color: white;
  font-size: 24px;
  width: 100%;
  z-index: 10;
  position: fixed;
  font-weight: 900;
  letter-spacing: 1px;
  padding-bottom: 2px;
  background-color: #00000073;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.collect {
  color:rgb(190, 190, 190);
  margin-top: 20px;
  font-size: 27px;
  margin-left: 30px;
  font-weight: 600;
}