body{
  width: 100%;
  height: 100%;
  font-family: canada-type-gibson,sans-serif;
  font-weight: 700;
  font-style: normal;
}

.game-detail{
  margin: 0;
  /* font-family: 'Quicksand', sans-serif; */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

  display: flex;
  padding: 10px;
  /* border: 2px solid blue; */
  color: rgb(190, 190, 190);
  text-align: justify;
}


.right-column{
  padding: 10px 50px 0px 0px;
  /* border: 2px solid red; */
  width: 60%;
}

.left-column{
  padding: 10px;
  /* border: 2px solid green; */
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image-container{
  width: 230px;
  /* border: 1px solid brown; */
  overflow: hidden;
  height: 340px;
  /* border: 1px solid rgb(190, 190, 190); */
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 15px 0px #000000; 
  box-shadow: 0px 5px 15px 0px #000000;
}

.image-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: transform 600ms;
}

.image-container img:hover{
  transform: scale(.95);
}

.title{
  /* font-family: 'Lora', serif; */
  font-size: 32px;
  color: whitesmoke;
  font-family: plantin,sans-serif;
  font-weight: 700;
  font-style: bolder;
}

.description{
  font-family: neue-haas-unica, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 16px;
}

.banner-image{
  display: inline-block;
  justify-content: center;
  /* border: 2px solid pink; */
  box-shadow: inset 0 0 10px 10px black;
  position: relative;
}

.banner-image > img {
  display: block;
}

.banner-image::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 200%;
  box-shadow: inset 0 0 500px rgba(0, 0, 0, 1);
}

#banner-image{
  width: 900px;
  object-fit: cover;

}


.container{
  font-family: neue-haas-unica, sans-serif;

}

.header{
  display: flex;
  align-items: center;
  font-size: 17px;
}

.details{
  font-size: 12px;
  font-weight: bold;
}