nav {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 0px 15px 0px 15px;
  font-weight: 600;
  background-color: black;

}

.navigation-bar {
  height: 50px;
  width: 100%;
  border-bottom: 1px solid rgb(221, 217, 217);
}


.navigation-bar img {
  height: 40px;
}



img {
  position: absolute;
  top: 0px;
  left: 0px;
}

img:hover {
  border-bottom: none;
}

.navigation-bar a {
  text-decoration: none;
  margin-right: 10px;
  padding: 6px 14px;
  color:rgb(221, 217, 217);
}


