html, main, nav {
  background-color: rgb(32, 31, 31);
}

html {
  min-height: 100vh;
}

nav {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 0px 15px 0px 15px;
  font-weight: 700;
  font-size: 14px;
}

.navigation-bar {
  height: 50px;
  width: 100%;
}


.navigation-bar img {
  height: 45px;
  width: 100px;
}



img {
  /* position: absolute; */
  top: 0px;
  left: 0px;

}

img:hover {
  border-bottom: none;
}

.navigation-bar a {
  text-decoration: none;
  margin-right: 10px;
  padding: 6px 14px;
  color:rgb(221, 217, 217);
}


